@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    scroll-behavior: smooth;
}

/* Reseteo básico */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body {
    display: flex;
    font-family: Arial, sans-serif;
    color azul anterior  #040b14
} */

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

h1,
h3 {
    color: #040b14;

}

p1 {
    color: #475569;
}

/* Header (lado izquierdo) */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    background-color: #02050a;
    color: #f1f5f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
    height: 100vh;
    overflow-y: auto;
    z-index: 10;
}

.avatar-container {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #64748b;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar-container .avatar {
    width: 100%;
    /* Hace que la imagen ocupe todo el contenedor */
    height: 100%;
    /* Ajusta la altura también */
    border-radius: 50%;
    object-fit: cover;
    /* Asegura que la imagen cubra el espacio sin deformarse */
}



.name {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

/* 
.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 1rem;
    justify-content: center;
}

.tag {
    background-color: #475569;
    color: #f1f5f9;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    font-size: 0.875rem;
} */

.description {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 1.5rem;
}


.social-media {
    display: flex;
    gap: 10px;
    /* Espacio entre íconos */
    justify-content: center;
    /* Centrar horizontalmente */
    margin-top: 20px;
}

.social-media a {
    background-color: rgba(64, 70, 80, 0.8);
    /* Grisáceo opaco */
    color: rgba(255, 255, 255, 0.856);
    /* Blanco opaco */
    font-size: 1.2rem;
    /* Íconos más pequeños */
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}

.social-media a:hover {
    background-color: #fff;
    /* Fondo blanco al hacer hover */
    color: #02050a;
    /* Ícono en color oscuro al hacer hover */
    transform: scale(1.1);
    /* Ligero aumento de tamaño */
}


.animated-shape-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    animation: bounce 2s infinite alternate;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(10px);
    }
}

/* Navbar estilos */
.navbar {
    width: 100%;
    margin-bottom: 2rem;
    padding-top: 50px;

}

/* Estilos generales de la lista de navegación */
.nav-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    margin-left: 20px;
    /* Separar del borde izquierdo */
}

/* Estilos para los enlaces */
.nav-list a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    /* Blanco opaco por defecto */
    font-size: 1rem;
    position: relative;
    display: flex;
    align-items: center;
    transition: color 0.3s, transform 0.3s;
    padding-left: 40px;
    /* Espacio inicial para la línea */
}

/* Línea a la izquierda */
.nav-list a::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    /* Línea corta inicial */
    height: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    /* Blanco opaco */
    transition: width 0.3s ease, left 0.3s ease, background-color 0.3s;
}

/* Efecto al pasar el mouse */
.nav-list a:hover {
    color: rgba(255, 255, 255, 0.8);
    /* Un poco más brillante */
    transform: translateX(20px);
}

.nav-list a:hover::before {
    width: 60px;
    /* Línea más larga */
    left: -20px;
    background-color: rgba(255, 255, 255, 0.8);
}

/* Sección activa: blanco puro y línea completa */
.nav-list a.active {
    color: rgba(255, 255, 255, 1);
    transform: translateX(20px);
}

.nav-list a.active::before {
    width: 60px;
    left: -20px;
    background-color: rgba(255, 255, 255, 1);
}

/* Iconos */
.icon {
    font-size: 1.2rem;
}

/* Botones */
.buttons-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    margin-top: auto;
}

.button {
    text-align: center;
    padding: 0.75rem;
    border-radius: 0.5rem;
    font-weight: bold;
    cursor: pointer;
}

.primary-button {
    background-color: #0ea5e9;
    color: white;
}

.secondary-button {
    background-color: #475569;
    color: white;
}

/* Estilos para pantallas grandes (mantiene el header completo y oculta el menú móvil) */
@media (min-width: 1024px) {
    .header {
        display: flex;
    }

    .menu-icon {
        display: none;
    }

    /* Asegurarse de ocultar el menú móvil en pantallas grandes */
    .mobile-menu {
        display: none !important;
    }
}

/* Estilos para pantallas medianas y pequeñas */
@media (max-width: 1023px) {
    .header {
        display: none;
    }

    /* Ícono del menú hamburguesa */
    .menu-icon {
        display: block;
        position: fixed;
        top: 15px;
        left: 15px;
        z-index: 20;
        font-size: 2rem;
        color: white;
        cursor: pointer;
        transition: transform 0.3s ease;
    }

    .menu-icon:hover {
        transform: scale(1.1);
    }

    /* Menú móvil con diseño mejorado */
    .mobile-menu {
        display: none;
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%) translateY(-100%);
        width: 90%;
        max-width: 400px;
        height: 60vh;
        background-color: rgba(20, 25, 30, 0.95);
        border-radius: 10px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
        z-index: 30;
        padding: 2rem 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-y: auto;
        transition: transform 0.4s ease, opacity 0.3s ease;
        opacity: 0;
    }

    /* Estilo cuando el menú está activo */
    .mobile-menu.active {
        display: flex;
        transform: translateX(-50%) translateY(20px);
        opacity: 1;
    }

    /* Estilo para los elementos del menú */
    .navbar ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .navbar a {
        color: white;
        text-decoration: none;
        font-size: 1.2rem;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        transition: background 0.3s, color 0.3s;
    }

    .navbar a:hover {
        background-color: rgba(255, 255, 255, 0.1);
        color: #ff8800;
    }

    .social-media {
        margin-top: 2rem;
        display: flex;
        gap: 1.5rem;
    }

    .social-media a {
        color: white;
        font-size: 1.5rem;
        transition: color 0.3s;
    }

    .social-media a:hover {
        color: #ff8800;
    }

    /* Efecto de sombra y suavidad en móviles */
    @media (max-width: 1023px) {
        .header {
            display: none;
        }

        .mobile-menu {
            width: 80%;
            max-width: 350px;
            border-radius: 15px;
        }
    }
}




/* Main content (lado derecho) */
.main-content {
    width: 80%;
    margin-left: 20%;
    overflow-y: auto;
}

.portInicio {
    margin-top: 0%;
    height: 100vh;
    background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)),
        url('../images/fondo2.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;

}

.content {
    text-align: center;
    max-width: 600px;

}

#typed-output {
    font-weight: bold;
    color: white;
}

.content p1 {
    color: white;

}

.content h1 {
    color: white;
}


/* borrar en caso de */
section#about-me {
    padding: 120px 150px 80px 150px;
    width: auto;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 30px;

    /* Más pegado a la izquierda */
}

/* Títulos y textos */
.about-header {
    text-align: left;

}

.about-header h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #02050a;
    margin: 0;
    padding-bottom: 10px;
    position: relative;
}

.about-header h1::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #149ddd;
    left: 0;
    bottom: 0;
}


.about-header p {
    font-size: 1.1rem;
    color: #555;
    line-height: 1.8;
    margin-bottom: 0;
    padding-top: 10px;
}


.info-container h2 {
    font-size: 2rem;
    font-weight: 600;
    color: #02050a;
    margin-bottom: 10px;
}

.intro-text {
    font-size: 1.1rem;
    color: #555;
    margin-bottom: 15px;
}


/* .image-container {
    padding-top: 5px;
} */
/* Imagen */
.image-container img {
    max-width: 416px;
    max-height: 416px;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s, box-shadow 0.5s;
}

.image-container img:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}

/* Contenedor derecho */
.about-main {
    padding-top: 30px;
    display: flex;
    align-items: flex-start;
    gap: 15px;
}

.info-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: 10px;

}

.info-lists {
    padding-top: 20px;
    display: flex;
    gap: 100px;
}

/* Listas con mayor separación vertical */
.info-list {
    list-style: none;
    padding: 0;
    margin: 0;

}

.info-list li {
    font-size: 1rem;
    color: #02050a;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    margin-bottom: 20px;
    padding-bottom: 15px;
}

.info-list li strong {
    font-weight: bold;
    color: #333;
}

.info-list li a {
    color: #02050a;
    text-decoration: none;
}

.info-list li a:hover {
    text-decoration: underline;
}

/* sd*/
i.bi-chevron-right {
    font-size: 17px;
    /* Tamaño del ícono */
    color: #149ddd;
    /* Color del ícono */
    padding-right: 5px;
    /* Ejemplo de animación */

}


/* sd*/

/* Sección de la cita Steve Jobs */
.quote-container {
    margin-top: 40px;
    padding: 20px;
    background-color: #f9f9f9;
    border-left: 5px solid #ff7f50;
    /* Toque de color */
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.quote {
    font-size: 1.5rem;
    color: #555;
    font-style: italic;
    margin: 0;
}

.author {
    display: block;
    font-size: 1.1rem;
    color: #333;
    margin-top: 10px;
    text-align: right;
}

/* Animación */
@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* borrar en caso de */
/* Para pantallas medianas (tablets y laptops pequeñas) */
@media (max-width: 1024px) {

    /* Ocultar el header y expandir el contenido */
    header {
        display: none;
    }

    /* El contenido principal ocupará el 100% del ancho */
    .main-content {
        width: 100%;
        margin-left: 0;
    }

    /* Secciones con padding reducido para mejor ajuste */
    section#about-me {
        padding: 80px 50px 50px 50px;
    }

    /* Ajustar la disposición de la sección "about-main" */
    .about-main {
        flex-direction: column;
        align-items: center;
    }

    /* La imagen se reduce para no desbordar */
    .image-container img {
        max-width: 100%;
        max-height: 300px;
    }

    /* Ajustar las listas informativas */
    .info-lists {
        flex-direction: column;
        gap: 20px;
    }
}

/* Para pantallas pequeñas (móviles) */
@media (max-width: 768px) {

    /* Ajustar el padding para móviles */
    section#about-me {
        padding: 60px 20px 30px 20px;
    }

    /* Centrar textos e imágenes */
    .about-header,
    .info-container,
    .content {
        text-align: center;
        align-items: center;
    }

    /* Imagen más pequeña en dispositivos móviles */
    .image-container img {
        max-width: 80%;
        max-height: auto;
        align-items: center;
        margin-left: 35px;
    }

    /* Ajustar listas para móviles */
    .info-lists {
        flex-direction: column;
        gap: 10px;
    }

    /* Listas informativas con más espacio vertical */
    .info-list li {
        margin-bottom: 10px;
        padding-bottom: 10px;
    }
}


/* hobies */
.hobbies-cont {
    padding-top: 18;
}

.hobbies-cont h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

/* Contenedor de hobbies (alineación horizontal) */
.hobbies-container {
    padding-top: 5px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

/* Tarjeta de cada hobby (más alargada y compacta) */
.hobby-card {
    display: flex;
    align-items: center;
    gap: 10px;
    background: white;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-width: 190px;
    min-height: 60px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease;
}

/* Íconos con animación de salto */
.hobby-icon {
    font-size: 1.5rem;
    color: #ff7f00;
    /* Naranja */
    transition: transform 0.6s ease;
}

/* Texto con animación de succión letra por letra */
.hobby-title {
    font-size: 0.9rem;
    color: #333;
    display: inline-block;
    overflow: hidden;
    position: relative;
    height: 20px;
}

/* Letras individuales con animación */
.hobby-title span {
    display: inline-block;
    transform-origin: bottom;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

/* Animación del ícono saltando */
.active .hobby-icon {
    transform: translateY(-5px);
}

/* Efecto de succión letra por letra */
.active .hobby-title span {
    animation: slideUp 1.5s linear forwards;
    animation-timing-function: ease-in-out;
}

/* Animación de succión individual con retardo escalonado */
@keyframes slideUp {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    50% {
        transform: translateY(-100%);
        opacity: 0;
    }

    51% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


/* Media Query para dispositivos medianos (max-width: 768px) */
@media (max-width: 768px) {
    .hobbies-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* 2 columnas */
        gap: 15px;
        /* Ajusta el espacio entre las tarjetas */
    }

    .hobby-card {
        min-width: 100%;
        /* Las tarjetas toman el 100% del ancho disponible */
    }
}

/* Media Query para dispositivos pequeños (max-width: 480px) */
@media (max-width: 480px) {
    .hobbies-container {
        grid-template-columns: 1fr;
        /* 1 columna */
        gap: 10px;
        /* Ajusta el espacio entre las tarjetas */
    }

    .hobby-card {
        min-width: 100%;
        /* Las tarjetas toman el 100% del ancho disponible */
    }
}

/* hobies */






section {
    margin-top: 2rem;
}

section h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

section p {
    font-size: 1rem;
    color: #475569;
    line-height: 1.5;
}




/* Estilo para la sección de Skills */
#skills {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-color: #02050a;
    /* Fondo del header */
    color: #fff;
    padding: 4rem 2rem 3rem 4rem;
    min-height: 100vh;

}

/* Estructura de Skills y Terminal */
.skills-layout {
    display: flex;
    gap: 15rem;
    flex-wrap: wrap;
}

/* Skills List */
.skills-list-container {
    flex: 1;
    min-width: 300px;
}



.skills-content {
    max-width: 1400px;
    width: 100%;
}

.skills-header {
    text-align: left;
    margin-bottom: 2rem;
}

.skills-header h1 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #fff;
    margin-bottom: 1rem;
}

.skills-header p {
    font-size: 1rem;
    color: #ccc;
    margin-bottom: 1.5rem;
}

.skills-category {
    margin-bottom: 2.0rem;
}

.skills-category h3 {
    font-size: 1.6rem;
    font-weight: 600;
    color: #0ea5e9;
    /* Color principal */
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

}

.skill-item {
    background-color: #475569;
    /* Color extra */
    padding: 0.5rem 1rem;
    border-radius: 8px;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 500;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;


}

.skill-item i {
    font-size: 1.4rem;
}

.skill-item:hover {
    background-color: #0ea5e9;
    /* Hover en skills */
    transform: scale(1.05);
}

/* Educación */
.education {
    margin-top: 2rem;
    font-size: 1.1rem;
    color: #fff;
}

.education h3 {
    font-size: 1.3rem;
    font-weight: 600;
    color: #0ea5e9;
    margin-bottom: 0.5rem;
}

/* Responsividad */
@media (min-width: 768px) {
    .skills-header h1 {
        font-size: 3rem;
    }

    .skills-header p {
        font-size: 1.1rem;
    }

    .skills-category h3 {
        font-size: 1.8rem;
    }

    .skills-list {
        flex-wrap: nowrap;
    }

    .skill-item {
        font-size: 1rem;
        width: auto;
    }
}

/* education */
/* Estilos generales */
.education-timeline-horizontal {
    padding: 1rem 0;
    color: #fff;
    overflow-x: auto;
    white-space: nowrap;

}

.education-timeline-horizontal h3 {
    font-size: 2rem;
    font-weight: 600;
    color: #0ea5e9;
    margin-bottom: 2rem;
    text-align: center;
    padding-right: 10rem;
}

/* Contenedor de la línea de tiempo */
.timeline-container-horizontal {
    display: flex;
    align-items: center;
    /* gap: 4rem; */
    position: relative;
    padding: 1rem 2rem;
}

/* Línea central horizontal */
.timeline-container-horizontal::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 4px;
    background-color: #0ea5e9;
    z-index: 1;
}

/* Elementos de la línea de tiempo */
.timeline-item {
    position: relative;
    min-width: 200px;
    max-width: 280px;
    z-index: 2;
    text-align: center;


}

.timeline-item .content {
    background-color: #1e293b;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.timeline-item h4 {
    font-size: 1rem;
    margin-bottom: 0.3rem;
    color: #fff;
}

.timeline-item p {
    font-size: 0.9rem;
    color: #cbd5e1;
}

/* Fechas fuera de la línea de tiempo */
.timeline-date {
    display: block;
    margin-top: 0.5rem;
    font-size: 0.9rem;
    color: #94a3b8;
    position: relative;
    top: 20px;
    margin: 0 6rem 0 1rem;
}

.timeline-date3 {
    display: block;
    margin-top: 0.5rem;
    font-size: 0.9rem;
    color: #94a3b8;
    position: relative;
    top: 20px;
    margin: 0 1rem 0 1rem;
}

/* Efectos de hover */
.timeline-item .content:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

/* Estilo destacado para Full Stack Java */
.timeline-item.highlight .content {
    background-color: #0ea5e9;
    color: #ffffff;
    border: 2px solid #fff;
}

.timeline-item.highlight h4 {
    font-size: 1.1rem;
    font-weight: 700;
    color: #1e293b;
}

.timeline-item.highlight p {
    color: #1e293b;
}


/* education */

/* terminal */
/* Terminal Simulada */
.terminal-container {
    flex: 1;
    min-width: 300px;
    max-width: 600px;
    background-color: #1e293b;
    border-radius: 8px;
    padding: 1rem;
    max-height: 220px;
}

.terminal-header {
    display: flex;
    gap: 8px;
    margin-bottom: 1rem;
}

.terminal-header .btn {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.red {
    background-color: #f87171;
}

.yellow {
    background-color: #facc15;
}

.green {
    background-color: #4ade80;
}

.terminal-body {
    background-color: #0f172a;
    color: #e2e8f0;
    padding: 1rem;
    border-radius: 4px;
    min-height: 150px;
    font-family: monospace;
    white-space: pre-wrap;
    overflow-x: auto;
    text-align: justify;
}


/* Animación de terminal */
@keyframes blink {
    50% {
        opacity: 0;
    }
}

.terminal-body::after {
    content: "█";
    animation: blink 1s infinite;
    color: #0ea5e9;
    margin-left: 4px;
}

/* Responsividad */
/* Ocultar terminal en pantallas pequeñas */
@media (max-width: 768px) {
    .terminal-container {
        display: none;
    }
}

/* terminal */


/* Sección de Proyectos */

/* Contenedor de proyectos en zigzag */
#projects {
    min-height: 100vh;
    padding-top: 30px;
    text-align: center;
}

.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 40px 20px;
    position: relative;
    margin-top: 30px;
}

#projects h1 {
    margin-left: 5rem;
    font-size: 2.5rem;
    font-weight: 700;
    padding-top: 15px;
    text-align: center;

}


/* Diseño más gráfico y minimalista */
.project-card {
    position: relative;
    width: 550px;
    height: 350px;
    max-width: 90%;
    overflow: hidden;
    border-radius: 30px;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    cursor: pointer;
    margin: 2px;
}


/* Alternar posiciones en zigzag */
.project-card:nth-child(odd) {
    align-self: flex-start;
    margin-left: 10%;
}

.project-card:nth-child(even) {
    align-self: flex-end;
    margin-right: 10%;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
}

/* GIF grande y sin perder calidad */
.project-card img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.3s;
}

.project-card:hover img {
    transform: scale(1.05);
}

/* Información del proyecto sobrepuesta */
.project-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    transition: background 0.3s;
}

.project-info h3 {
    font-size: 1.8rem;
    margin: 5px 0;
    color: white;
}

.project-info p {
    font-size: 0.9rem;
    margin: 5px 0 10px;
    line-height: 1.4;
    color: #d1d5db;
}

/* Botón de GitHub más minimalista */
.project-button {
    padding: 8px 16px;
    border-radius: 50px;
    background-color: #0ea5e9;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    display: inline-block;
    font-size: 0.9rem;
}

.project-button:hover {
    background-color: #0284c7;
    transform: translateY(-2px);
}


/* 🌐 Responsividad: Vista vertical en pantallas medianas y pequeñas */
@media (max-width: 1024px) {
    .timeline-container-horizontal {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        gap: 1.5rem;
    }

    /* Línea vertical */
    .timeline-container-horizontal::before {
        top: 0;
        left: 50%;
        height: 100%;
        width: 4px;
        background-color: #0ea5e9;
    }

    /* Ajuste de elementos en vista vertical */
    .timeline-item {
        max-width: 100%;
        min-width: unset;
    }

    /* Fechas centradas en la vista vertical */
    .timeline-date,
    .timeline-date3 {
        margin: 0.5rem 0;
        top: 0;
    }
}

/* Estilos del modal */
/* Estilos para la modal */
.modal {
    display: none;
    position: absolute;
    max-width: 550px;
    max-height: 350px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    transition: all 0.3s ease;
    margin: 15px 60px 0 60px;

}

.modal-content {
    background-color: white;
    /* margin: 10% auto; */
    padding: 20px;
    border-radius: 20px;
    width: 100%;
    max-width: 800px;
    position: relative;
}

/* Botón de cierre */
.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 1.5rem;
    color: #333;
    cursor: pointer;
    z-index: 1001;
}

/* Estilos del contenido */
.modal-content {
    padding: 10px;
}

.modal ul {
    padding-left: 20px;
    margin: 10px 0;


}

#modal-description {
    text-align: left !important;
    margin: 10px 0;
    line-height: 1.6;
    color: #333;
    /* Cambiar el color del texto si es necesario */
}

#modal-details {
    margin-top: 20px;
}

#modal-details li {
    margin-bottom: 2px;
    /* Ajusta el valor según la separación que desees */
    line-height: 1.5rem;
    /* Mejora la legibilidad */
}

/* Media Query para dispositivos medianos */
@media (max-width: 768px) {
    .modal {
        max-width: 90%;
        margin: 15px 10%;
    }

    .modal-content {
        padding: 15px;
    }

    /* Botón de cierre */
    .close-btn {
        top: 5px;
        right: 10px;
    }

    #modal-description {
        font-size: 1rem;
    }

    #modal-details {
        font-size: 0.9rem;
    }
}

/* Media Query para dispositivos pequeños */
@media (max-width: 480px) {
    .modal {
        max-width: 90%;
        margin: 10px;
        max-height: 300px;
        /* Ajustar altura para pantallas pequeñas */
    }

    .modal-content {
        padding: 10px;
    }

    .close-btn {
        top: 5px;
        right: 5px;
        font-size: 1.2rem;
    }

    #modal-description {
        font-size: 0.9rem;
    }

    #modal-details {
        font-size: 0.8rem;
    }

    #modal-details li {
        line-height: 1.4rem;
    }
}